main {
    height: 100%;
    flex-grow: 2;
    background-color: #292929;
}


@media only screen and (min-width: 601px) {
    main {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 600px) {

    main {
        margin-bottom: 90px;
    }
}